/****var***/
$teal : rgb(0,128,128);
$red : rgb(220,20,60);
$nav_links : white;
$nav_links_hover:cadetblue;
$par : #333;

$max-width : 1024px;

/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    color: $par;
}
html {
    font-size: 62.5%; /* Ré-équilibrage du Rem face au Pixel pour des calculs simples */
    /*font-family: 'Mukta', sans-serif;*/
    font-family: 'Libre Franklin';
}
/* Exemple d'application */
p {
    font-size: 16px; /* Pour les navigateurs qui ne supportent pas le Rem */
    font-size: 1.6rem; /* Pour les navigateurs « Responsive » = 12px */
}
* {box-sizing:border-box}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    /*line-height: 1;*/
    margin-top:15px;
}
.back{
	position:absolute;
    top:7px;
    font-size:20px;
    font-size:2rem;
}
.back a{
	text-decoration:none;
	padding:7px 15px;
	background-color:lightgrey;
	opacity:0.6;
}
.back a:hover{
	background-color:darkgrey;
	opacity:0.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************header**************/
h1{
    font-size: 50px;
    font-size:5rem;
    font-family: 'Mukta', sans-serif;
}
.search{
    /*text-align: right;*/
    padding: 5px;  
}
.search.white{
    width:25%;
    background-color: white;
}
.input{
    display:none;
    font-size:1.8rem;
    font-size:18px;
    padding-left: 8px;
}
.put{
    border:none;
    width:85%;
    padding: 0 7px;
}
.s_img{
    cursor: pointer; 
    opacity: 0.6;
}
header{
    max-width: $max-width;
    margin:auto;
    display:flex;
    flex-wrap:nowrap;
    align-items:center;
    padding: 0 20px;
}
.logo{
    margin-bottom: 11px;
}
header .search{
    margin-left:auto;
    display:flex;
    justify-content: flex-end;
    border-radius: 5px;
    padding: 8px;
}
/************nav*************/
nav{
    background-color: $teal;
    font-family: 'Mukta', sans-serif;
}
nav ul{
    max-width:$max-width;
    margin:auto;
    display:flex;
    flex-wrap:nowrap;
}
nav a{
    color:$nav_links;
    font-size:20px;
    font-size:2rem;
    text-decoration:none;
    padding: 15px 25px;
    display: inline-block;
}
nav li.active{
    background-color:$red ;
}
.hamburger.active2 a{
    background-color:$red ;
}
nav li:hover:not(.active){
    background-color:$nav_links_hover;
}
li.login{
    margin-left:auto;
}
a.icon{
    display:none;
}
/*******login form****/
.bg_grey{
    background-color: #dedede;
    justify-content: space-between !important;
}
.loginform{
    width:500px;
    height: 400px;
    background-color: $teal;
    text-align: center;
    margin:auto;
    z-index:2;
    position:absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 70px;
    border-radius: 5px;
}
.loginform form{
    margin-top:90px;
}
.loginform form h3{
    color:white;
    font-size:2rem;
    font-size:20px;
}
.loginform form input{
    display:block;
    padding: 10px;
    margin: 25px 0;
    width: 100%;
}
input#close_login{
    position: absolute;
    top: -9px;
    right: 10px;
    width: 8%;
}
#page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index:1;
    display:none;
  }
/*************slideshow************/
.slideshow{
    position:relative;
    width: 100%; /*ie6*/
    cursor:pointer;
}
.slides{
    display:none;
}
.prev, .next{
    cursor:pointer;
    position:absolute;   
    top:50%;
    width:auto;
    margin-top:-20px;
    padding:16px;
    color:black;
    font-weight: bold;
    font-size:1.8rem;
    font-size:18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next{
    right:0;
}
.prev{
   left: 0;
}
.prev:hover, .next:hover {
    background-color: rgba(248, 247, 247, 0.8);
  }
.slide_text{
    color:white;
    position:absolute;
    text-align:center;
    bottom: 8px;
    width: 100%;
    font-size:2.2rem;
    padding: 8px 12px;
    font-size:22px;
    text-transform: uppercase;
}
.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
.activate{
    display:inline-block;
}
.pagination{
    text-align:center;
}
.slideshow img{
    max-height:400px;
    width:100%;
}
/**********main**********/
.main{
    max-width:$max-width;
    margin:auto;
    padding:20px 20px;
    font-size:1.8rem !important;
    font-size:10px;
    margin-bottom:50px;
}
.main h2{
    text-align: center;
    margin-bottom:20px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
h2{
    font-size:25px;
    font-size:2.5rem;
}
/****img cont****/
.imgs-container{
    display:flex;
    justify-content:space-between;
    margin-top:25px;
    align-items: flex-start;
    /*height:250px;*/
}
.img-container{
    width:31%;
    text-align:left;
    box-shadow:none;
    cursor:pointer;
}
.img_cont{
    position:relative;
    display:flex;
    justify-content: center;
    cursor: pointer;
}
.img-def{
    width: 100%;
    height:auto;
}
p.bold{
    font-weight: bold;
    margin-bottom: 10px;
    font-size:2rem;
    font-size:20px;
}
p.teal a{
    color:$teal;
    text-decoration: none;
}
p.teal a:hover{
    color:$red ;
}
.img_info{
    display:inline-block;
    padding:15px;
}
.img_info p{
    line-height:2.6rem;
    margin-bottom: 12px;
}
.img_txt{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding:5px;
    bottom: 10px;
    font-size: 2rem;
    display:none;
}
/*.img_txt1{
    position: absolute;
    background-color: white;
    bottom: 10px;
    font-size: 2rem;
    display:none;
}
.img_txt2{
    position: absolute;
    background-color: white;
    bottom: 10px;
    font-size: 2rem;
    display:none;
}*/
/****************onglet************/
.content_onglet{
    margin-top:40px;
}
.tabs li{
    float:left;
    display:block;
    margin-right:1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tabs li.active{
    background-color:#f7f7f7;;
}
.tabs:after {
    display: table;
    content: ' ';
    clear: both;
}
.tabs a{
    padding:15px 30px;
    text-decoration: none;
    display:block;
}
.tabs:after{
    display:table;
    content:' ';
    clear: both;
}
.tabs_content{
    position:relative;
    padding:40px 20px;
    background-color:$teal;
    color:white;
    background: #f7f7f7;
    line-height: 2.6rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tab_content{
    display:none;
}  
.tab_content.active{
    display:block;
}
.hide{
    display:none;
} 
.active{
    display:inline-block;
}
/****************footer*******/
hr{
    border-top: 1px solid $teal;
}
footer{
    display:flex;
}
footer{
    display:flex;
    justify-content: space-between;
    max-width: $max-width;
    margin: auto;
    padding: 40px 20px;
}
.f3{
    display: flex;
    align-items: center;
    flex-grow:1;
    justify-content: flex-end;
}
.f2{
    flex-grow:1;
}
.f2 input{
    padding: 15px 15px;
    width: 100%;
    background: $teal;
    color: white;
    border: none;
    font-size:15px;
    font-size:1.5rem;
}
.f2 input::placeholder{
    color: white;
}
.f1{
    line-height: 3rem;
    flex-grow:1;
}
.f1 li a{
    text-decoration:none;
    color:$teal;
    font-size:1.8rem;
    font-size:18px;
}
.f1 li a:hover{
    color:$red ;
}
.f2 p{
    margin-bottom:10px;
}
/****************
media queries
*****************/
@media screen and (max-width: 768px) {
    .slideshow{
        display:none;
    }
    .fa{
        color:white;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li:not(.active){
        display:none;
    }
    nav ul li.active{
        order:1;
    }
    nav ul li:not(.active){
        order:3;
    }
    li.login {
        margin-left:0;
    }
    a.icon{
        display:block;
        float: right;
    }
    .imgs-container {
        flex-wrap: wrap;
    }
    .img-container{
        flex-wrap: wrap;
        min-width: 45%;
    }
    footer{
        flex-wrap:wrap;
    }
    .f1, .f2{
        margin-right:20px;
    }
}

@media screen and (max-width: 500px) {
    .slideshow{
        display:none;
    }
    .img-container {
        width:100%;
    }
    .img_cont {
        width: 100% !important;
    }
    .img-def {
        margin-top:20px;
    }
    .loginform {
        width: 425px;
        height: 360px;
        top:100px;
    }
    .imgs-container, footer {
        flex-direction: column;
    }
    footer{
        text-align: center;
    }
    .f1, .f2{
        margin-bottom: 20px;
    }
    .f3{
        justify-content: center;
    }
    
}